
/*
    基于 Github 风格进行修改(勘误?)
    所有修改的部分会用 Cuipy_Changed 或者 Cuipy_Added 进行标注

    Typora 的 Github 风格默认情况:
    由*包围     <em></em>               斜体
    由**包围    <strong></strong>       粗体
    由==包围    <mark></mark>           背景色修改为黄色
    由`包围     <code></code>           由淡灰色圆角矩形包围
    blockquote: 引用块

    注意不能修改字间距(spacing), 因为一旦修改, 英文就会变得非常难看!
    而且考虑到 CSS 的选择器并没有提供方法来区分中文和英文, 所以无法分别设置!

    [github.com]的颜色配置略微偏蓝一些(b分量略大一丢丢), 而Typora的[github主题]似乎是纯纯的灰色(r==g==b)


    一个坑: Typora 的元素审查页面 和导出的 HTML 并不完全一致.
    比如在 Typora 中, 列表中的 span 是被一个 p 标签包围的, 然而在html(浏览器)中就没有这个p标签.
    最坑的地方在于, Typora 给这个 p 标签指定了 css 样式, 具体而言是一个 margin-bottom:0.5rem
    这就导致导出的 html 的列表间距非常小.
    我的解决方案: 
*/



:root {
    /* 这里可以定义变量 */
    --control-text-color: #777;
    --side-bar-bg-color: #fafafa;
    /* Cuipy Added */
    --bigcode-bg-color: #f6f8fa;            /* 大代码块的背景颜色 */
    --smallcode-bg-color: #e7e9e980;        /* 小代码块的背景颜色 */
    --quoted-smallcode-bg-color: #d2d6d680; /* 引用块中小代码块的背景颜色 */
    --quoted-bg-color: #dfe2e541;           /* 背景颜色, 半透明好调节, 而且可以让多层嵌套时颜色逐层加深 */         
    --hr-color: #e2e4e8;                    /* 水平分割线(Horizontal Rule)的颜色 */     
    --text-color: rgb(37, 41, 46);          /* 正常文本的颜色 */
    --quoted-text-color: rgba(37, 41, 46, 0.808);     /* 被引用文本的颜色 */
    --bigcode-font: "Menlo";                  /* 大代码的字体 */
    --smallcode-font: "Menlo";                /* 小代码的字体 */
    --user-interface-color: #f6f8fa;
    --highlight-color: #ffe3c3;
    --cuipy-border-radius: 5px;
    --border-color: #e7eaed;
}

html {
    font-size: 16px;
}

body {
    font-family: "Helvetica Neue", "PingFang SC";                   /* Cuipy_Changed */
    /* color: #333333; */
    color: var(--text-color);                                /* Cuipy_Changed */
    line-height: 1.6;  
}

#write {
    max-width: 860px;
  	margin: 0 auto;
  	padding: 30px;
    padding-bottom: 100px;
}

@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1024px;
	}
}
@media only screen and (min-width: 1800px) {
	#write {
		max-width: 1200px;
	}
}

#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

a {
    color: #4183C4;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;    
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}


h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt, h1 code,
h2 tt, h2 code,
h3 tt, h3 code,
h4 tt, h4 code,
h5 tt, h5 code,
h6 tt, h6 code {
    font-size: inherit;
}


/* 六种标题的格式 */
h1 {
    font-size: 2em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3em;              /* Cuipy_Added imitating [github.com] */
}
h2 {
    font-size: 1.5em;
    line-height: 1.225;
    /* border-bottom: 1px solid #eee; */
}
h3 {
    font-size: 1.25em;
    line-height: 1.43;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
    color: #777;
}


p, blockquote, ul, ol, dl, table{
    margin: 0.8em 0;
}
li>ol, li>ul {
    margin: 0 0;
}
hr {                                        /* 水平分割线 */
    height: 4px;                                        
    padding: 0;
    margin: 16px 0;
    background-color: var(--hr-color);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;    
    border-radius:1px;
}

li p.first {
    display: inline-block;
}
ul {
    padding-left: 20px;
}
ol {
    padding-left: 23px;
    list-style-type: upper-roman;
}
ol ol {
    list-style-type: lower-roman;
}
ul:first-child, ol:first-child {
    margin-top: 0;
}
ul:last-child, ol:last-child {
    margin-bottom: 0;
}

blockquote {
    /* border-left: 4px solid #dfe2e5;*/            /* 左边竖线  */
    padding: 8px 10px 6px 14px;                     /* 上右下左 */
    background-color: var(--quoted-bg-color);       /* 背景颜色, 半透明好调节, 而且可以让多层嵌套时颜色逐层加深 */           
    color: var(--quoted-text-color);                /* 文字颜色 */                                 
    border-radius: var(--cuipy-border-radius);      /* 边框半径 */      
} 
blockquote blockquote {   
    padding-right: 0;                               /* 多嵌套时, 右侧不再继续缩小 */
}



table {
    padding: 0;
    word-break: initial;
}
table tr {
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n), thead {
    /* background-color: #f8f8f8; */
    background-color: var(--bigcode-bg-color);
}
table tr th {
    font-weight: bold;
    /* border: 1px solid #dfe2e5; */
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    /* border: 1px solid #dfe2e5; */
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}



.md-fences,
code,
tt {
    border: 1px solid var(--border-color);
    background-color: #f8f8f8;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    /* border-radius: 3px; */
    border-radius: var(--cuipy-border-radius);                  /* Cuipy_Changed */
}

code {                                                  /* `小代码块`  */
    padding: 2px 5px 2px 5px;                           /* 上 右 下 左 */
    background-color: var(--smallcode-bg-color);        /* 改成一种"等价"写法, 即本色加深一倍, 透明度设为50%. 和荧光笔, 引用块 配合更好*/
    font-family: var(--smallcode-font);
}
blockquote code {
    background-color: var(--quoted-smallcode-bg-color);
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}


.md-task-list-item > input {
  margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

.md-fences {                                                    /* 大代码块 */
	/* background-color: #f8f8f8; */
    background-color: var(--bigcode-bg-color);                  /* Cuipy_Changed */
    font-family: var(--bigcode-font);                   /* Cuipy_Added */
    border: 1px solid var(--border-color);
}
#write pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: var(--cuipy-border-radius);                  /* Cuipy_Changed */
    color: #777777;
    color: red;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    /* background: #fafafa; */
    background-color: var(--user-interface-color);         /* Cuipy_Changed */
}

#write>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
.md-image>.md-meta {
    border: 1px solid #ddd;                              /* Cuipy Changed */
    /* border-radius: 3px; */
    border-radius: var(--cuipy-border-radius);                  /* Cuipy_Changed */
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    /* background-color: #FAFAFA; */
    background-color: var(--user-interface-color);         /* Cuipy_Changed */
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    /* background-color: var(--side-bar-bg-color); */
    background-color: var(--user-interface-color);         /* Cuipy_Changed */
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
}

.ty-preferences .window-content {
    /* background-color: #fafafa; */
    background-color: var(--user-interface-color);          /* Cuipy_Changed */
}

.ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
}




/* =========== Cuipy_Added ============ */
/* 修改高亮的颜色, 以及柔和的边框, 类似小代码块<code> */
mark {
    background-color: var(--highlight-color);
    border-radius: var(--cuipy-border-radius); 
}
/* 修改下划线的实现方式(默认下划线->下边框) 提供更多定制空间 */
u {
    text-decoration: none;
    border-bottom: 0.5px solid var(--text-color);
    padding-bottom: 0.5px;
}
/* <斜体>修改右侧对齐量, 防止最右侧的斜体字"插进"正体字里 */
em{
    margin-right: 2px;
}
/* 图片外加圆角边框 */
img {
    border-radius: var(--cuipy-border-radius);
    border: 2px solid  rgba(0,0,0,0.1);
    padding: 0 0 0 0;
}


/* 换行文字间距减小 */
p {
    margin: 0.35em 0;
}

/* blockquote 紧邻文本时, 相应边界减小 */
p + blockquote {                                    
    margin-top: -0.45ex;
}


/* 取消表格占用整个宽度, 但具有最小宽度(通过对 th td 设置) */
table {
    width: 0;
}
th, td {
    width: 5em;
}



/* 标题计数器 */
body {counter-reset: cnt_h1;}
h1 {counter-reset: cnt_h2;} 
h2 {counter-reset: cnt_h3;} 
h1:before {
    counter-increment: cnt_h1;
    content: "§" counter(cnt_h1) " ";
    font-weight: normal;
}
h2:before {
    counter-increment: cnt_h2;
    content: counter(cnt_h2) ". ";
    font-weight: normal;
}
h3:before {
    counter-increment: cnt_h3;
    content: counter(cnt_h2) "." counter(cnt_h3) ". ";
    font-weight: normal;
}


/* 侧边栏大纲也要计数器标号 */
.sidebar-content {counter-reset: sb_cnt_h1;}
.outline-h1 {counter-reset: sb_cnt_h2;}
.outline-h2 {counter-reset: sb_cnt_h3;}
.outline-h1>.outline-item>.outline-label:before {
    counter-increment: sb_cnt_h1;
    content: "§" counter(sb_cnt_h1, upper-alpha) ". ";
}
.outline-h2>.outline-item>.outline-label:before {
    counter-increment: sb_cnt_h2;
    content: counter(sb_cnt_h2) ". ";
}
.outline-h3>.outline-item>.outline-label:before {
    counter-increment: sb_cnt_h3;
    content: counter(sb_cnt_h2) "."counter(sb_cnt_h3) ". ";
}


/* 
    设置表格 table 为圆角
    并不是想象中那么简单! 这是因为 border-collapse: collapse 与 border-radius 冲突
    解决方法:
    - 由于我们为了设置 border-radius 所以必须设置 border-collapse: separate
    - 这样的话, 单元格交界处就会出现两个线, 变粗变难看.
    - 所以我们需要仔细使用 CSS 选择器, 为不同位置的单元格设置不同的边框绘制"职责", 
    - 让他们"共同完成"这个表格的所有边框, 且每个交界处只有一条线.
*/
table {
    border-collapse: separate;
}
table thead tr th {
    border-top: 1px solid var(--border-color);
}
table tr th, table tr td {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
table tr th:first-child, table tr td:first-child {
    border-left: 1px solid var(--border-color);
}
/* 分别设置 [左上, 右上, 右下, 左下] 的圆角 */
table tr:first-child th:first-child {border-top-left-radius: var(--cuipy-border-radius);}   
table tr:first-child th:last-child {border-top-right-radius: var(--cuipy-border-radius);}
table tr:last-child td:last-child {border-bottom-right-radius: var(--cuipy-border-radius);}
table tr:last-child td:first-child {border-bottom-left-radius: var(--cuipy-border-radius);}
